.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  grid-area: header;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 265px;
  align-items: center;

  &__burger-menu {
    display: none;
  }

  &__logo {
    display: grid;
    grid-column-gap: 13px;
    grid-template-columns: 34px 94px;

    &-icon {
      margin: 12px 18px 0 13px;
    }

    &-text {
      font-weight: 700;
      font-size: 12px;
      line-height: 16.34px;
      color: #22232b;
      margin: 11px 0 17px 13px;
      width: 94px;
    }
  }

  &__account {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 253px;
    height: 32px;

    &-menu {
      max-width: 150px;
      min-width: 100px;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      top: 65px;
      right: 6px;
      background-color: #fff;
      border-radius: 8px;
      padding: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      font-weight: 400;
      font-size: 12px;
      line-height: 16.34px;
      color: #22232b;
    }
  }

  &__notifications {
    position: relative;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid #51bb76;
    background-color: #f2f5f7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5px 22px 0.5px 0;

    &-icon {
      margin: 7.5px 7px 6.5px 7px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -2px;
      left: 18px;
      width: 8px;
      height: 8px;
      background-color: #51bb76;
      border-radius: 50%;
    }
  }

  &__balance {
    display: flex;
    align-items: center;
    width: 95px;
    height: 32px;
    margin-right: 12px;

    &-logo {
      background-color: #f2f5f7;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      &-icon {
        margin: 0;
        width: 16px;
        height: 16px;
      }
    }

    &-info {
      margin: 1px 0px 1px 10px;
      width: 55px;
      height: 32px;
      display: flex;
      flex-direction: column;
      align-items: start;
    }

    &-sum {
      font-weight: 400;
      font-size: 12px;
      line-height: 16.34px;
      color: #737e84;
    }

    &-id {
      font-weight: 700;
      font-size: 12px;
      line-height: 16.34px;
      color: #22232b;
    }
  }

  &__user {
    display: flex;
    width: 94px;
    height: 32px;
    align-items: center;

    &-info {
      margin: 1px 0 1px 10px;
      display: flex;
      flex-direction: column;
    }

    &-firstname {
      font-weight: 700;
      color: #22232b;
      font-size: 12px;
      line-height: 16.34px;
    }

    &-secondname {
      font-weight: 400;
      color: #737e84;
      font-size: 12px;
      line-height: 16.34px;
    }
  }

  &__avatar {
    position: relative;
    margin: 1px 0 1px 12px;
    all: unset;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 550px) {
  .header {
    &__account {
      width: 80px;
      grid-template-columns: 30px 30px;
      .header__avatar {
        cursor: pointer;
      }
      .header__notifications {
        top: 1px;
        margin-right: 10px;
      }
      .header__balance {
        display: none;
      }
      .header__user-info {
        .header__firstname,
        .header__secondname {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .header {
    grid-template-columns: 60px 1fr 80px;
    justify-items: center;
    align-items: center;

    &__logo {
      width: 34px;

      img {
        margin: 0;
      }

      &-text {
        display: none;
      }
    }

    &__burger-menu {
      cursor: pointer;
      display: block;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
