.Layout {
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header header" "sidebar form";
  grid-column-gap: 10%;
  grid-template-columns: 0.1fr 2fr;
  grid-template-rows: 60px 1fr;
  min-height: 100vh;
}

@media (max-width: 550px) {
  .Layout {
    grid-template-areas: "header header" "form form";
  }
}
