.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 60px;
  height: calc(100vh - 60px);
  z-index: 1000;
  grid-area: sidebar;
  background-color: #2a2c36;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;

  &_closed {
    transform: translateX(-100%);
  }

  &_open {
    transform: translateX(0);
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__top,
  &__middle,
  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    display: flex;
  }

  &__button {
    background: inherit;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    width: 60px;
    height: 40px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;

    &__icon {
      width: 20px;
      height: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      transition: transform 0.3s ease;
      transform: translateX(0);
    }

    &_active::before {
      transform: translateX(5px);
      background-color: #20a8d8;
    }
  }
}

@media (min-width: 550px) {
  .sidebar {
    transform: translateX(0) !important;
  }
}
